<%page expression_filter="h"/>
<%!
  import json
  from django.urls import reverse
  from six import text_type
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
  from common.djangoapps.course_modes.models import CourseMode, get_course_prices
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language | n, js_escaped_string}",
      "${user_timezone | n, js_escaped_string}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">

<link href="${static.url('custom_css/coursegrid.css')}" rel="stylesheet">

<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <!-- end inject -->

<!--======================================
        START COURSE AREA
======================================-->
  % if query_string:
    <section class="find-courses courses_list" id="search_query_string">
      <div class="container-wrapper">
        <div id="filter-bar" class="filters hide-phone is-animated">
          <div class="filters-inner">
            <ul class="active-filters facet-list">
              <li class="active-filter">
                <a href="/courses" class="facet-option discovery-button" data-type="search_query">
                  <span class="query">${query_string}</span>
                  <span aria-hidden="true" class="fa fa-times"></span>
                </a>
              </li>
            </ul>
            <a href="/courses" id="clear-all-filters" class="clear-filters flt-right discovery-button">Clear All</a>
          </div>
        </div>
      </div>
    </section>
  % endif

<section class="course-area section-padding">
    <div class="container">
        <div class="filter-bar">
            <div class="filter-bar-inner displayflex contentjustify">
                <p>We found <span>${len(courses)}</span> courses available for you</p>
            </div><!-- end filter-bar-inner -->

        </div><!-- end filter-bar -->
        <div class="displayrow">
          % for c_obj in courses:
            <div class="width33">
                <div class="schedulebox schedulebox-item schedulebox-preview" data-tooltip-content="#tooltip_content_1">
                    <div class="schedulebox-image">
                        <a href="${reverse('about_course', args=[text_type(c_obj.id)])}" class="d-block">
                            <img class="schedulebox-img-top lazy" src="${c_obj.image_urls['large']}" alt="${c_obj.display_name} ">
                        </a>
<!--                         <div class="course-badge-labels">
                            <div class="course-badge">Bestseller</div>
                            <div class="course-badge blue">-39%</div>
                        </div> -->
                    </div><!-- end schedulebox-image -->
                    <div class="schedulebox-body">
                        <h6 class="ribbon ribbon-blue-bg">All Levels</h6>
                        <h5 class="schedulebox-title">
                          ${c_obj.display_name}
                        </h5>
                        <!-- <p class="schedulebox-text"><a href="teacher-detail.html">Jose Portilla</a></p> -->
                        <div class="rating-wrap displayflex">
                            <div class="review-stars">
                                <span class="rating-number">4.4</span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star"></span>
                                <span class="la la-star-o"></span>
                            </div>
                            <span class="rating-total pl-1">(20,230)</span>
                        </div><!-- end rating-wrap -->
                        <div class="displayflex contentjustify">
                            <% registration_price, c_price = get_course_prices(c_obj, True) %>
                            <p class="schedulebox-price">${c_price}</p>
                            <!-- <div class="icon-element icon-element-sm shadow-sm cursor-pointer" title="Add to Wishlist"><i class="la la-heart-o"></i></div> -->
                        </div>
                    </div><!-- end schedulebox-body -->
                </div><!-- end schedulebox -->
            </div><!-- end col-lg-4 -->
            % endfor
        </div><!-- end row -->
        <div class="pg">
            <nav aria-label="Page navigation example" class="pagination-box">
                <ul class="pagination contentjustify">
                  % if courses.has_previous():
                    <li class="page-item">
                        <a class="page-link" href="?page=${ courses.previous_page_number() }" aria-label="Previous">
                            <span aria-hidden="true"><i class="la la-arrow-left"></i></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                  % else:
                    <li class="disabled"><span><i class="la la-arrow-left" aria-hidden="true"></i></span></li>
                  % endif


                  % if courses.number + (-4) > 1:
                      <li><a class="page-link" href="?page=${ courses.number + (-5) }">&hellip;</a></li>
                  % endif


                % for i in courses.paginator.page_range:
                    % if courses.number == i:
                        <li class="page-item active"><span class="page-link">${ i } <span class="sr-only">(current)</span></span></li>
                    % elif i > courses.number + (-5) and i < courses.number + + (5):
                        <li class="page-item"><a class="page-link" href="?page=${ i }">${ i }</a></li>
                    % endif
                % endfor

                % if courses.paginator.num_pages > courses.number + (4):
                    <li class="page-item"><a class="page-link" href="?page=${ courses.number + (5) }">&hellip;</a></li>
                % endif
                

                % if courses.has_next():
                    <li class="page-item"><a class="page-link" href="?page=${ courses.next_page_number() }"><i class="la la-arrow-right" aria-hidden="true"></i></a></li>
                % else:
                    <li class="disabled"><span><i class="la la-arrow-right" aria-hidden="true"></i></span></li>
                % endif

                </ul>
            </nav>
            <!-- <p class="fs-14 pt-2">Showing 1-6 of 56 results</p> -->






        </div>
    </div><!-- end container -->
</section><!-- end courses-area -->
<!--======================================
        END COURSE AREA
======================================-->


<!-- start scroll top -->
<div id="scroll-top">
    <i class="la la-arrow-up" title="Go top"></i>
</div>
<!-- end scroll top -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
<!-- start scroll top -->
<div id="scroll-top">
    <i class="la la-arrow-up" title="Go top"></i>
</div>
<!-- end scroll top -->

<!-- template js files -->
<script src="js/jquery-3.4.1.min.js"></script>
<script>
var x, i, j, l, ll, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
l = x.length;
for (i = 0; i < l; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  ll = selElmnt.length;
  /*for each element, create a new DIV that will act as the selected item:*/
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  /*for each element, create a new DIV that will contain the option list:*/
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 1; j < ll; j++) {
    /*for each option in the original select element,
    create a new DIV that will act as an option item:*/
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
        /*when an item is clicked, update the original select box,
        and the selected item:*/
        var y, i, k, s, h, sl, yl;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        sl = s.length;
        h = this.parentNode.previousSibling;
        for (i = 0; i < sl; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            yl = y.length;
            for (k = 0; k < yl; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
      /*when the select box is clicked, close any other select boxes,
      and open/close the current select box:*/
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
    });
}
function closeAllSelect(elmnt) {
  /*a function that will close all select boxes in the document,
  except the current select box:*/
  var x, y, i, xl, yl, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  xl = x.length;
  yl = y.length;
  for (i = 0; i < yl; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < xl; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);
</script>
</body>
</html>
